body {
	width: 5000px;
	height: 5000px;
}

.vertical {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 0;
	background: #00ff00;
}

.horizontal {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 120px;
	background-color: #ff0000;
}

.rotate {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 240px;
	background-color: #0000ff;
}

.skew {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 360px;
	background-color: #00ffff;
}

.scale {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 480px;
	background-color: #ffff00;
}

.debug {
	position: fixed;
	top: 10px;
	left: 10px;
}



/* START FROM ELEMENT */

body.startfromelement {
	width: auto;
	height: auto;
}

.wrap {
	width: 500px;
	margin: 0 auto;
}

.content2 {
	position: relative;
}

.content2 .animate {
	width: 100px;
	height: 100px;
	background-color: #000;
	position: absolute;
}
